<?xml version="1.0"?>
<launch>
  <!-- Global param -->
  <arg name="enable_sim" default="true"/>
  <arg name="autodock_server" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="use_sim_time" default="$(arg enable_sim)"/>

  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <!-- Launch AutoDock Server Node -->
  <group if="$(arg autodock_server)">
    <include file="$(find autodock_core)/launch/autodock_server.launch">
      <arg name="autodock_config" default="$(find autodock_examples)/configs/mock_robot.yaml"/>
    </include>
  </group>

  <!-- Launch Simulation World -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find autodock_sim)/worlds/charging.world"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" default="$(arg headless)"/>
    <arg name="use_sim_time" default="$(arg use_sim_time)"/>
    <env name="GAZEBO_MODEL_PATH" value="$(find autodock_sim)/models" />
  </include>

  <!-- launch fiducial detect  -->
  <node pkg="aruco_detect" name="aruco_detect"
        type="aruco_detect" output="log" respawn="false">
    <param name="/use_sim_time" value="$(arg use_sim_time)"/>
    <param name="image_transport" value="compressed"/>
    <param name="publish_images" value="true" />
    <param name="do_pose_estimation" value="true"/>
    <param name="verbose" value="false"/>
    <param name="dictionary" value="8"/>   <!-- dict size, include border -->
    <!-- Map of ID to marker size: 0.15m and 0.05m -->
    <param name="fiducial_len_override" value="10: 0.15, 11: 0.15, 20: 0.05"/>
    <remap from="camera/compressed" to="/camera/color/image_raw/compressed"/>
    <remap from="camera_info" to="/camera/color/camera_info"/>
  </node>

  <!-- tf from robot base to camera -->
  <node pkg="tf2_ros" 
        type="static_transform_publisher"
        name="link1_broadcaster"
        args="-0.35 0 .25 1.57 0 -1.57 base_footprint camera_link"/>

  <!-- rviz viewer -->
  <node type="rviz" 
        name="rviz"
        pkg="rviz"
        args="-d $(find autodock_examples)/rviz/default.rviz" />

</launch>
